@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url("components/navbar.css");

*{
  /* border: solid green 1px; */
}

body, html {
  height: cal(100% -2em);
  margin: 0;
  font-family: "Montserrat";
  color: white;
}



body {
  background-color: #1A191A;
}
a {
  text-decoration: none;
  color: white;
}