@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
.card {
  margin-top: 30vh;
  max-width: 1200px;
  display: inline-block;
  background-color: white;
  height: 40vh;
}

.card img {
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  width: 40%;
  float: left;
}

.card .card-textbox {
  text-align: left;
  width: 50%;
  margin: 2vh;
  float: left;
  color: black;
}

.card .card-textbox h1 {
  text-transform: capitalize;
  margin: 0;
}

.card .card-textbox p {
  margin-top: 2.5vh;
}

.menu-item-left {
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.menu-item-left .menu-img-box {
  text-align: right;
}

.menu-item-left .menu-img-box img {
  width: 60%;
  margin-right: 10%;
}

.menu-item-left .menu-item-text {
  text-align: left;
  height: 100%;
  width: 65%;
  margin-left: 10%;
  margin-top: 11%;
}

.menu-item-right {
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.menu-item-right .menu-img-box {
  text-align: left;
}

.menu-item-right .menu-img-box img {
  width: 60%;
  margin-left: 10%;
}

.menu-item-right .menu-item-text {
  text-align: right;
  height: 100%;
  margin-right: 10%;
  margin-top: 11%;
}

.menu-item-right .menu-item-text p {
  width: 65%;
  float: right;
}

.best-ingridients {
  margin-top: 10em;
  color: white;
}

.best-ingridients h1 {
  margin: 0;
}

.best-ingridients p {
  width: 50%;
  margin: 2em auto 0;
}

.best-ingridients img {
  width: 40%;
  margin-top: -2em;
}

header {
  width: calc(100% - 5rem);
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-text-box {
  margin-right: 0em;
  display: inline-block;
  text-align: left;
  text-transform: capitalize;
}

header .header-text-box button {
  margin-top: 2rem;
  width: 7.5rem;
  height: 2.3rem;
  font-size: large;
  font-weight: bold;
  color: #dcdada;
  background-color: #131313;
}

header .header-image-box {
  width: 60%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
  display: inline-block;
  text-align: left;
}

header .header-image-box img {
  display: block;
  position: absolute;
  top: 2rem;
  width: 90%;
}

header .header-image-box .plate {
  z-index: 1;
}

.navbar {
  z-index: 5;
  padding-top: 1rem;
  position: fixed;
  width: 100%;
  max-width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  font-family: "Poppins", sans-serif;
  background-color: #131313;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  text-transform: capitalize;
}

.navbar .logo {
  letter-spacing: 3px;
}

.navbar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar .nav-links a {
  color: #dcdada;
  text-decoration: none;
  margin-left: 15px;
  font-size: 17px;
}

.navbar .nav-links .active {
  border-bottom: 2px solid #d1ad89;
}

.navbar .nav-links a:hover {
  border-bottom: 2px solid #d1ad89;
  color: white;
}

.navbar .nav-links li {
  list-style: none;
}

.navbar .burger {
  display: none;
}

.navbar .burger div {
  width: 25px;
  height: 3px;
  background-color: #dcdada;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1224px) {
  .navbar .nav-links {
    width: 42%;
  }
}

@media screen and (max-width: 1024px) {
  .navbar .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    min-height: 8vh;
  }
  .navbar .nav-links {
    padding: 0px;
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #5d4954;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .navbar .nav-links li {
    opacity: 0;
  }
  .navbar .burger {
    display: block;
    cursor: pointer;
    color: #dcdada;
  }
  .navbar .nav-active {
    -webkit-transition: width 1.5s;
    transition: width 1.5s;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  @-webkit-keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  .toggle .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
}

#menu .main-menu-text-box {
  margin-top: 20vh;
  display: block;
}

#menu .main-menu-text-box .main-menu-title {
  text-align: right;
  display: inline-block;
}

#menu .main-menu-text-box p {
  width: 60%;
  display: inline-block;
  text-align: left;
  margin-left: 10px;
}

.reservation {
  width: 100%;
  margin-top: 10em;
  /* The image used */
  background-image: url("./../../images/restaurant.jpg");
  /* Set a specific height */
  min-height: 400px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.reservation div {
  display: inline-block;
  margin-top: 8%;
}

.reservation div h1:first-child {
  text-transform: capitalize;
  font-family: "Great Vibes", cursive;
  font-size: xx-large;
  letter-spacing: 0.1em;
}

#contact {
  display: block;
  width: 100%;
  margin-top: 8em;
  margin-bottom: 2em;
}

#contact .contact-location, #contact .contact-hours {
  text-align: left;
}

#contact .contact-location span, #contact .contact-hours span {
  margin-left: 17px;
}

#contact div {
  vertical-align: top;
  display: inline-block;
  width: 25%;
}

#contact div h4 {
  color: #d1ad89;
  margin-bottom: 20px;
}

.heading-primary {
  font-size: 58px;
}

.fancy-text {
  text-transform: capitalize;
  font-family: "Great Vibes", cursive;
  font-size: 2.5em;
  color: #d1ad89;
  margin: 0;
}

.text-xl {
  font-size: 2em;
  text-transform: capitalize;
}

.gold-text {
  color: #d1ad89;
}

*,
*::after,
*::before {
  margin: 0 auto;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body, html {
  height: calc(100% -2em);
  font-family: "Montserrat";
  color: white;
  text-align: center;
}

body {
  max-width: 1500px;
  position: relative;
  background-color: #131313;
}

a {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=main.css.map */