@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
.card {
  margin-top: 10rem;
  max-width: 1200px;
  display: inline-block;
  background-color: white;
  margin-bottom: 8rem;
}

.card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 40%;
  float: left;
}

.card .card-textbox {
  text-align: left;
  width: 50%;
  margin: 1rem;
  float: left;
  color: black;
}

.card .card-textbox h1 {
  text-transform: capitalize;
  margin: 0;
}

.card .card-textbox p {
  margin-top: 2.5vh;
}

@media screen and (max-width: 768px) {
  .card {
    margin-bottom: 5rem;
    margin-top: 7rem;
    display: block;
    background-color: white;
    padding-bottom: 10px;
  }
  .card img {
    width: 100%;
    display: inline-block;
  }
  .card .card-textbox {
    display: inline-block;
    float: none;
    width: 90%;
    display: inline-block;
    margin: 0 auto .5rem;
  }
  .card .card-textbox h1:first-of-type {
    margin-top: 0.5rem;
    margin-bottom: -1rem;
  }
}

.menu-item-left {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.menu-item-left div {
  display: inline-block;
  -ms-grid-row: 1;
  grid-row: 1;
}

.menu-item-left .menu-img-box img {
  width: 65%;
  margin-right: -5rem;
}

.menu-item-left .menu-item-text {
  margin-left: -0.1rem;
  text-align: left;
  width: 75%;
}

.menu-item-left .menu-item-text h2 {
  margin-top: 4.5rem;
}

@media screen and (max-width: 768px) {
  .menu-item-left {
    display: block;
  }
  .menu-item-left .menu-img-box img {
    margin-right: inherit;
  }
  .menu-item-left .menu-item-text {
    margin-left: inherit;
    width: 95%;
    text-align: inherit;
    margin-bottom: 2rem;
  }
  .menu-item-left .menu-item-text h2 {
    margin-top: 1rem;
  }
  .menu-item-left div {
    display: block;
  }
}

.menu-item-right {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.menu-item-right div {
  display: inline-block;
  -ms-grid-row: 1;
  grid-row: 1;
}

.menu-item-right .menu-img-box img {
  width: 65%;
  margin-left: -5rem;
}

.menu-item-right .menu-item-text {
  margin-right: 0.1rem;
  text-align: right;
  width: 75%;
}

.menu-item-right .menu-item-text h2 {
  margin-top: 4.5rem;
}

.menu-item-right .menu-img-box:nth-of-type(1) {
  -ms-grid-column: 2;
  grid-column: 2;
}

.menu-item-right .menu-item-text:nth-of-type(2) {
  -ms-grid-column: 1;
  grid-column: 1;
}

@media screen and (max-width: 768px) {
  .menu-item-right {
    text-align: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .menu-item-right .menu-img-box {
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .menu-item-right .menu-img-box img {
    margin: 0 auto;
  }
  .menu-item-right .menu-item-text {
    -ms-grid-row: 2;
    grid-row: 2;
    margin: 0rem auto 2rem;
    width: 95%;
    text-align: inherit;
  }
  .menu-item-right .menu-item-text h2 {
    margin-top: 1rem;
  }
}

.best-ingridients {
  margin-top: 10em;
  color: white;
}

.best-ingridients h1 {
  margin: 0;
}

.best-ingridients p {
  width: 50%;
  margin: 2em auto 0;
}

.best-ingridients img {
  width: 40%;
  margin-top: 0em;
}

@media screen and (max-width: 768px) {
  .best-ingridients p {
    width: 90vw;
  }
  .best-ingridients img {
    width: 90vw;
    margin-top: 0;
  }
}

header {
  width: calc(100% - 6rem);
  height: 950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-text-box {
  margin-right: -2em;
  display: inline-block;
  text-align: left;
  text-transform: capitalize;
}

header .header-text-box h1 {
  font-size: 58px;
}

header .header-text-box button {
  margin-top: 3rem;
  width: 7.5rem;
  height: 2.3rem;
  font-size: large;
  font-weight: bold;
  color: #dcdada;
  background-color: #131313;
}

header .header-image-box {
  width: 60%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
  display: inline-block;
  text-align: left;
}

header .header-image-box img {
  display: block;
  position: absolute;
  top: 2rem;
  width: 100%;
}

header .header-image-box .plate {
  z-index: 1;
}

header .mobile-plate, header .cover {
  display: none;
}

@media screen and (max-width: 1300px) {
  header {
    height: 800px;
  }
  header .header-text-box {
    margin-right: -1.5em;
  }
  header .header-text-box h1 {
    font-size: 52px;
  }
  header .header-image-box {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 1100px) {
  header {
    height: 700px;
  }
  header .header-text-box {
    margin-right: -.5rem;
  }
  header .header-text-box h1 {
    font-size: 2rem;
  }
  header .header-text-box button {
    margin-top: 2rem;
  }
  header .header-image-box {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 900px) {
  header {
    height: 575px;
  }
  header .header-text-box h1 {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 768px) {
  header {
    position: relative;
    width: 100%;
  }
  header .header-text-box {
    margin: 0 auto;
    text-align: center;
  }
  header .header-text-box button {
    background-color: transparent;
  }
  header .header-image-box {
    display: none;
  }
  header .cover {
    display: block;
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    background-color: rgba(48, 48, 48, 0.5);
  }
  header .mobile-plate {
    display: block;
    width: 100%;
    position: absolute;
    z-index: -2;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.navbar {
  z-index: 5;
  position: fixed;
  width: 100%;
  max-width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
  font-family: "Poppins", sans-serif;
  background-color: #131313;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  text-transform: capitalize;
}

.navbar .logo {
  letter-spacing: 3px;
  display: inline-block;
}

.navbar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
}

.navbar .nav-links li {
  list-style: none;
}

.navbar .nav-links li a {
  color: #dcdada;
  text-decoration: none;
  font-size: 18px;
}

.navbar .nav-links .active {
  border-bottom: 2px solid #d1ad89;
}

.navbar .nav-links a:hover {
  border-bottom: 2px solid #d1ad89;
  color: white;
}

.navbar .burger {
  display: none;
}

.navbar .burger div {
  width: 25px;
  height: 3px;
  background-color: #dcdada;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1100px) {
  .navbar .nav-links {
    width: 55%;
  }
}

@media screen and (max-width: 950px) {
  .navbar .nav-links {
    width: 67%;
  }
}

@media screen and (max-width: 768px) {
  .navbar .logo h4 {
    font-size: x-large;
  }
  .navbar .nav-links {
    padding: 0px;
    position: fixed;
    right: 0px;
    height: calc(100% - 64px);
    top: 64px;
    background-color: #5d4954;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .navbar .nav-links li {
    opacity: 0;
  }
  .navbar .burger {
    display: inline-block;
    cursor: pointer;
    color: #dcdada;
  }
  .navbar .nav-active {
    -webkit-transition: width 1.5s;
    transition: width 1.5s;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  @-webkit-keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  .toggle .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
}

#menu .main-menu-text-box {
  margin-top: 5rem;
  display: block;
}

#menu .main-menu-text-box .main-menu-title {
  vertical-align: top;
  text-align: right;
  display: inline-block;
}

#menu .main-menu-text-box p {
  width: 60%;
  display: inline-block;
  text-align: left;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  #menu {
    padding: 10px;
    position: relative;
    overflow: hidden;
  }
  #menu .main-menu-text-box {
    display: block;
  }
  #menu .main-menu-text-box .main-menu-title h1 {
    text-align: center;
  }
  #menu .main-menu-text-box p {
    text-align: center;
    padding: 10px;
    width: auto;
    margin-left: 0;
  }
}

.reservation {
  text-align: center;
  margin-top: 10em;
  background-image: url("./../images/restaurant.jpg");
  position: relative;
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.reservation div {
  width: 100%;
  top: 20%;
  position: absolute;
}

.reservation div h1:first-child {
  text-transform: capitalize;
  font-family: "Great Vibes", cursive;
  font-size: xx-large;
  letter-spacing: 0.1em;
}

.reservation div h1:last-of-type {
  margin: 1rem;
}

.reservation div .contact-link {
  margin-top: 2rem;
  border: solid 1px;
  padding: 0.3rem;
}

@media screen and (max-width: 768px) {
  .reservation {
    vertical-align: middle;
    background-attachment: scroll;
  }
}

#contact {
  display: block;
  margin-top: 8em;
  margin-bottom: 2em;
}

#contact .contact-location, #contact .contact-hours {
  text-align: left;
}

#contact .contact-location span, #contact .contact-hours span {
  margin-left: 17px;
}

#contact div {
  vertical-align: top;
  display: inline-block;
  width: 31%;
}

#contact div h4 {
  color: #d1ad89;
}

@media screen and (max-width: 768px) {
  #contact div {
    display: block;
    width: calc(100% - 2rem);
    margin-top: 1.5rem;
  }
}

.fancy-text {
  text-transform: capitalize;
  font-family: "Great Vibes", cursive;
  font-size: 2em;
  color: #d1ad89;
  margin: 0;
}

.text-xl {
  font-size: 2em;
  text-transform: capitalize;
}

.gold-text {
  color: #d1ad89;
}

*,
*::after,
*::before {
  margin: 0 auto;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body, html {
  height: calc(100% -2em);
  font-family: "Montserrat";
  color: white;
  text-align: center;
}

body {
  max-width: 1500px;
  position: relative;
  background-color: #131313;
}

a {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=main.css.map */