@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
.heading-primary {
  font-size: 48px;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  z-index: 100;
  padding-top: 1vh;
  position: fixed;
  width: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  font-family: "Poppins", sans-serif;
  background-color: #1A191A;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  text-transform: capitalize;
}

.navbar .logo {
  color: #dcdada;
  text-transform: capitalize;
  font-family: "Great Vibes", cursive;
  font-size: x-large;
  color: #d1ad89;
  letter-spacing: 3px;
}

.navbar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar .nav-links a {
  color: #dcdada;
  text-decoration: none;
  margin-left: 15px;
  font-size: 17px;
}

.navbar .nav-links .active {
  border-bottom: 2px solid #d1ad89;
}

.navbar .nav-links a:hover {
  border-bottom: 2px solid #d1ad89;
  color: white;
}

.navbar .nav-links li {
  list-style: none;
}

.navbar .burger {
  display: none;
}

.navbar .burger div {
  width: 25px;
  height: 3px;
  background-color: #dcdada;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

section {
  padding: 2rem;
}

@media screen and (max-width: 1224px) {
  .navbar .nav-links {
    width: 42%;
  }
}

@media screen and (max-width: 1024px) {
  .navbar .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    min-height: 8vh;
  }
  .navbar .nav-links {
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #5d4954;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .navbar .nav-links li {
    opacity: 0;
  }
  .navbar .burger {
    display: block;
    cursor: pointer;
    color: #dcdada;
  }
  .navbar .nav-active {
    -webkit-transition: width 1.5s;
    transition: width 1.5s;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  @-webkit-keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  .toggle .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  width: 100%;
}

body, html {
  height: cal(100% -2em);
  margin: 0;
  font-family: "Montserrat";
  color: white;
}

body {
  background-color: #1A191A;
}

a {
  text-decoration: none;
  color: white;
}

header {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-text-box {
  text-align: left;
}

header .header-text-box div {
  float: right;
  text-transform: capitalize;
}

header .header-text-box div button {
  margin-top: 5vh;
  width: 20vh;
  height: 40px;
  font-size: large;
  font-weight: bold;
  color: #dcdada;
  background-color: #1A191A;
}

header .header-image-box img {
  position: absolute;
  top: 0px;
  width: 55%;
}

header .header-image-box .plate {
  z-index: 1;
}

* {
  /* border: solid green 1px; */
}
/*# sourceMappingURL=main.css.map */