@import '../../index.scss';
@import './menuItemLeft.scss';
@import './menuItemRight.scss';

#menu {
  .main-menu-text-box {
    margin-top: 5rem;
    display: block;
    .main-menu-title {
      vertical-align: top;
      text-align: right;
      display: inline-block;
    }
    p {
      // margin-top: 0;
      width: 60%;
      display: inline-block;
      text-align: left;
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: $smallScreen) {
  #menu {
    padding: 10px;
    position: relative;
    overflow: hidden;
    .main-menu-text-box {

      .main-menu-title {
        h1 {
          text-align: center;
        }
      }
      display: block;
      p {
        text-align: center;
        padding: 10px;
        width: auto;
        margin-left: 0;
      }
    }
  }
}
