*,
*::after,
*::before {
    margin: 0 auto ;
    box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body, html {
  height: calc(100% -2em);
  font-family: "Montserrat";
  color: white;
  text-align: center;
}
body {
  max-width: 1500px;
  position: relative;
  /* background-color: $black; */
}
a {
  text-decoration: none;
  color: white;
}