// colors
$gold: #d1ad89;
$backColor: #5d4954;
$white: rgb(220, 218, 218);

$black: rgb(19, 19, 19);

$xlScreen:  1300px;
$lScreen:  1100px;
$mScreen: 900px;
$smallScreen: 768px;


.fancy-text {
  text-transform: capitalize;
  font-family: "Great Vibes", cursive;
  font-size: 2em;
  color: $gold;
  margin: 0;
}

.text-xl{
  font-size: 2em;
  text-transform: capitalize;
  // color: red;
}


.gold-text {
  color: $gold;
}


*,
*::after,
*::before {
    margin: 0 auto ;
    box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body, html {
  height: calc(100% -2em);
  font-family: "Montserrat";
  color: white;
  text-align: center;
}
body {
  max-width: 1500px;
  position: relative;
  background-color: $black; 
}
a {
  text-decoration: none;
  color: white;
}

