@import '../../index.scss';

#contact {
  display: block;
  margin-top: 8em;
  margin-bottom: 2em;
  .contact-location, .contact-hours{
    text-align: left;
    span{
      margin-left: 17px;;
    }
  }
  div {
    vertical-align: top;
    h4{
      color: $gold;
      // margin-bottom: 20px;
    }
    display: inline-block;
    width: 31%;
  }
}

@media screen and (max-width: 768px) {
  #contact {
    div{
      display: block;
      width: calc(100% - 2rem);
      margin-top: 1.5rem;

    }
  }
}