header {
  width: calc(100% - 6rem);
  height: 800px;
  display: flex;
  align-items: center;
  .header-text-box {
    margin-right: -2em;
    display: inline-block;
    text-align: left;
    text-transform: capitalize;
    button {
      margin-top: 3rem;
      width: 7.5rem;
      height: 2.3rem;
      font-size: large;
      font-weight: bold;
      color: $white;
      background-color: $black;
    }
  }
  .header-image-box {
    width: 60%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 0;
    display: inline-block;
    text-align: left;
    img {
      display: block;
      position: absolute;
      top: 2rem;
      width: 100%;
    }
    .plate {
      z-index: 1;
    }
  }
}
@media screen and (max-width: 1300px){
  header{
    height: 1000px;
  }
}
