header{
  height: 100vh;
  display: grid;
  grid-template-columns: 40% 60% ;
  grid-template-rows: auto;
  align-items: center;

  .header-text-box{
    // display: block;
    text-align: left;
    div{
      float: right;
      text-transform: capitalize;
      button {
        margin-top: 5vh;
        width: 20vh;
        height: 40px;
        font-size: large;
        font-weight: bold;
        color: $white;
        background-color: $black;
      }
    }
  }
      .header-image-box {
        position: relative;
        img{
          // position: absolute;
        }
        .smoke {

        }
        .plate {
          position: absolute;
          // width: 70%;
          // margin: 5vh;
        }
      }

  
}