header{
  height: 100vh;
  display: grid;
  grid-template-columns: 40% 60% ;
  grid-template-rows: auto;
  align-items: center;

  img {
    // display: block;
    width: 70%;
    margin: 2vh;
  }

  .header-text-box{
    // display: block;
    text-align: left;
    div{
      float: right;
      text-transform: capitalize;
      button {
        width: 20vh;
        height: 40px;
        font-size: large;
        font-weight: bold;
        color: $white;
        background-color: $black;
      }
    }
    
  }

  
}