.card {
  margin-top: 10rem;
  max-width: 1200px;
  display: inline-block;
  background-color: white;
  margin-bottom: 8rem;

  img {
    object-fit: cover;
    width: 40%;
    float: left;
  }
  .card-textbox {
    text-align: left;
    width: 50%;
    margin: 1rem;
    float: left;
    color: black;
    h1 {
      text-transform: capitalize;
      margin: 0;
    }
    p {
      margin-top: 2.5vh;
    }
  }
}
@media screen and (max-width: $smallScreen) {
  .card {
    margin-bottom: 5rem;
    margin-top: 7rem;
    display: block;
    background-color: white;
    padding-bottom: 10px;
    img{
      width: 100%;
      display: inline-block;
    }
    .card-textbox{
      h1:first-of-type{
        margin-top: 0.5rem;
        margin-bottom: -1rem;
      }
      display: inline-block;
      float: none;
      width: 90%;
      display: inline-block;
      margin: 0 auto;
    }
  }
}
