.card{
  margin-top: 30vh;
  max-width: 1200px;
  display: inline-block;
  background-color: white;
  height: 40vh;

  img{
    height: 40vh;
    object-fit: cover;
    width: 40%;
    float: left;
  }
  .card-textbox{
    text-align:left;
    width: 50%;
    margin: 2vh;
    float: left;
    color: black;
    h1{
      text-transform: capitalize;
      margin: 0;
    }
    p{
      margin-top: 2.5vh;
    }

  }
}