*,
*::after,
*::before {
    margin: 0 auto;
    // padding: 0;
    box-sizing: inherit;
}

// img{
//   width: 100%;
// }

body, html {
  height: cal(100% -2em);
  // margin: 0 auto;
  font-family: "Montserrat";
  color: white;
  text-align: center;

}

section {
  // margin: 2vh;
}



body {
  max-width: 2560px;
  max-height: 1440px;
  background-color: $black;
}
a {
  text-decoration: none;
  color: white;
}
