
.heading-primary {
  font-size: 48px;
}

.fancy-text {
  text-transform: capitalize;
  font-family: "Great Vibes", cursive;
  font-size: 2.5em;
  color: $gold;
  margin: 0;
}

.text-xl{
  font-size: 2em;
  // color: red;
}


.gold-text {
  color: $gold;
}
